<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Title -->
	<title>@GlobalConstants.WebsiteAbbreviature -> @ViewData["Title"]</title>

	<!-- Favicon -->
	<link rel="icon"
		  type="image/x-icon"
		  href="~/favicon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NewRevolutionaryBank.Web.styles.css" asp-append-version="true" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<!-- Font -->
	<link rel="preconnect"
		  href="https://fonts.googleapis.com">
	<link rel="preconnect"
		  href="https://fonts.gstatic.com"
		  rossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
		  rel="stylesheet">

	<!-- Font Awesome -->
	<script src="https://kit.fontawesome.com/abeae01161.js" crossorigin="anonymous"></script>
</head>
<body class="bg-light">
	<header>
		@await Html.PartialAsync("_Navbar")
	</header>

	<!-- Body -->
	<div class="container min-vh-100">
		@RenderBody()
	</div>

	<!-- Footer -->
	<footer class="text-center bg-dark">
		<div class="container">
			<!-- Section: Links -->
			<section class="mt-5">
				<div class="row text-center d-flex justify-content-center pt-5">
					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Privacy"
						   class="text-white text-uppercase text-decoration-none">
							Privacy Policy
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Contacts"
						   class="text-white text-uppercase text-decoration-none">
							Contacts
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="FindUs"
						   class="text-white text-uppercase text-decoration-none">
							Find Us
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Support"
						   class="text-white text-uppercase text-decoration-none">
							Support
						</a>
					</div>
				</div>
			</section>

			<hr class="my-3" />

			<!-- Section: Social -->
			<section class="text-center mb-3">
				<!-- Linkedin -->
				<a class="btn text-white"
				   href="https://www.linkedin.com/in/viktor-g-891aa4254/"
				   role="button">
					<i class="fa fa-linkedin"></i>
				</a>

				<!-- Github -->
				<a class="btn text-white"
				   href="https://github.com/viktorgkw/NewRevolutionaryBank"
				   role="button">
					<i class="fa fa-github"></i>
				</a>
			</section>

		</div>

		<!-- Copyright -->
		<div class="text-center p-3 bg-dark text-info">
			&copy; @(GlobalConstants.WebsiteCreatedYear) - @(DateTime.UtcNow.Year) Copyright: @(GlobalConstants.WebsiteName)
		</div>

	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
