@using NewRevolutionaryBank.Common;

<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Metadata -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Title -->
	<title>@GlobalConstants.WebsiteAbbreviature -> @ViewData["Title"]</title>

	<!-- Favicon -->
	<link rel="icon"
		  type="image/x-icon"
		  href="~/favicon.ico">

	<!-- CSS -->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/NewRevolutionaryBank.Web.styles.css" asp-append-version="true" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<!-- Font -->
	<link rel="preconnect"
		  href="https://fonts.googleapis.com">
	<link rel="preconnect"
		  href="https://fonts.gstatic.com"
		  rossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
		  rel="stylesheet">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="bg-light">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand fw-bold fs-4 text-info" asp-controller="Home" asp-action="Index">@(GlobalConstants.WebsiteAbbreviature)</a>

				<button class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link text-white fw-bold"
							   asp-controller="Home"
							   asp-action="Index">
								Home
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white fw-bold"
							   asp-controller="ExchangeCurrency"
							   asp-action="All">
								Currency Exchange Rates
							</a>
						</li>
						@if (User.IsInRole("Guest"))
						{
							<li class="nav-item">
								<a class="nav-link text-white fw-bold"
								   asp-controller="BankAccount"
								   asp-action="Create">
									Create Bank Account
								</a>
							</li>
						}
						@if (User.IsInRole("AccountHolder"))
						{
							<li class="dropdown">
								<a class="btn btn-close-white dropdown-toggle fw-bold"
								   href="#"
								   role="button"
								   id="dropdownProfile"
								   data-bs-toggle="dropdown"
								   aria-expanded="false">
									Banking
								</a>

								<ul class="dropdown-menu dropdown-menu-end bg-dark"
									aria-labelledby="dropdownProfile">
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="BankAccount"
										   asp-action="MyAccounts">
											My Accounts
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="BankAccount"
										   asp-action="Create">
											Create new Bank Account
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="Transaction"
										   asp-action="NewTransaction">
											New Transaction
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="BankAccount"
										   asp-action="Deposit">
											Deposit
										</a>
									</li>
								</ul>
							</li>
						}
						@if (User.IsInRole("Administrator"))
						{
							<li class="dropdown">
								<a class="btn btn-close-white dropdown-toggle fw-bold"
								   href="#"
								   role="button"
								   id="dropdownProfile"
								   data-bs-toggle="dropdown"
								   aria-expanded="false">
									A-Panel
								</a>

								<ul class="dropdown-menu dropdown-menu-end bg-dark"
									aria-labelledby="dropdownProfile">
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="Administrator"
										   asp-action="ManageBankSettings">
											Manage Bank Settings
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="Administrator"
										   asp-action="ManageUserProfiles">
											Manage User Profiles
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="Administrator"
										   asp-action="ManageBankAccounts">
											Manage Bank Accounts
										</a>
									</li>
									<li class="py-2">
										<a class="nav-link text-white fw-bold"
										   asp-controller="Administrator"
										   asp-action="TransactionsList">
											All Transactions
										</a>
									</li>
								</ul>
							</li>
						}
					</ul>

					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<!-- Body -->
	<div class="container min-vh-100">
		@RenderBody()
	</div>

	<!-- Footer -->
	<footer class="text-center bg-dark">
		<div class="container">
			<!-- Section: Links -->
			<section class="mt-5">
				<div class="row text-center d-flex justify-content-center pt-5">
					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Privacy"
						   class="text-white text-uppercase text-decoration-none">
							Privacy Policy
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Contacts"
						   class="text-white text-uppercase text-decoration-none">
							Contacts
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="FindUs"
						   class="text-white text-uppercase text-decoration-none">
							Find Us
						</a>
					</div>

					<div class="col-md-2">
						<a asp-controller="Home"
						   asp-action="Support"
						   class="text-white text-uppercase text-decoration-none">
							Support
						</a>
					</div>
				</div>
			</section>

			<hr class="my-3" />

			<!-- Section: Social -->
			<section class="text-center mb-3">
				<!-- Linkedin -->
				<a class="btn text-white"
				   href="https://www.linkedin.com/in/viktor-g-891aa4254/"
				   role="button">
					<i class="fa fa-linkedin"></i>
				</a>

				<!-- Github -->
				<a class="btn text-white"
				   href="https://github.com/viktorgkw/NewRevolutionaryBank"
				   role="button">
					<i class="fa fa-github"></i>
				</a>
			</section>

		</div>

		<!-- Copyright -->
		<div class="text-center p-3 bg-dark text-info">
			&copy; @(GlobalConstants.WebsiteCreatedYear) - @(DateTime.UtcNow.Year) Copyright: @(GlobalConstants.WebsiteName)
		</div>

	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
